<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Character Vault</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Your characters</h1>

</body>
</html>